.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    columns: 3;
    text-align: center;
}

#photo img {
    border: 2px solid #BB99DD;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
}
h5 {
    font-size: 16px;
    color: #BB99DD;
    position: relative;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 300;
}

h3 a {
    text-decoration: none;
    

    font-size: 16px;
    color: #BB99DD;
    font-family: 'Poppins', sans-serif;
    font-weight: 600, Semi Bold;
}
a:hover {
    background-color: #BB99DD;
    color: #FFF;
}
#um {
    padding: 12px 139px;
    border-radius: 4px;
    border: 2px solid #BB99DD;
}
#dois {
    padding: 12px 128px;
    border-radius: 4px;
    border: 2px solid #BB99DD;
}
#tres{
    padding: 12px 144px;
    border-radius: 4px;
    border: 2px solid #BB99DD;
}
.svg {
    margin-top: 68px;
}

.svg img {
    padding: 0 29px;
}

